.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 7rem;
  text-align: center;

  &__logo {
    display: flex;
    flex: 1;
    margin-left: 2rem;

    img {
      height: 3.5rem;
    }
  }

  &__search-bar {
    flex: 3;

    .search-input {
      width: 70%;
      outline: none;
      border-radius: 3rem;
      border: 0;
      padding: 1rem 1.5rem;
      background-color: $grey-light-3;
      transition: 0.3s;

      &:focus {
        width: 80%;
      }
    }
  }

  &__user-bar {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: space-around;
    align-items: center;

    &--icon1 {
      height: 100%;
      flex: 1;

      button {
        @extend %btn-header;

        .bookmarks {
          width: 2rem;
        }
      }
    }

    &--icon2 {
      height: 100%;
      flex: 1;

      button {
        @extend %btn-header;

        .comments {
          width: 2rem;

        }
      }
    }

    &--icon3 {
      height: 100%;
      flex: 3;
      width: 100%;

      button {
        @extend %btn-header;
        display: flex;
        align-items: center;

        .profile-avatar {
          @extend %avatar-images;
        }

        .profile-text {
          margin-left: 1rem;
        }
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  .navigation-mobile {
    display: flex;
    background-color: #333333;
    color: #fff;
    height: 8vh;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;

    .home {
      height: 2rem;
      width: 2rem;
      fill: #fff;
      margin: 0.4rem;
    }

    .menu1 {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .navigation {
    display: none;
  }

  .header {
    height: 100%;
    flex-wrap: wrap;

    &__search-bar {
      width: 100%;
      order: 3;
      flex: 0 0 100%;

      .search-input {
        width: 100%;
        border-radius: 0;
      }
    }

    &__user-bar {
      &--icon1 {

        button {
          .bookmarks {
            height: 2rem;
            width: 2rem;
          }
        }
      }

      &--icon2 {
        .comments {
          height: 2rem;
          width: 2rem;
        }
      }
      &--icon3 {
        height: 100%;
      }
    }
  }
}

@media only screen and(min-width: 768px) {
  .navigation {
    width: 250px;
    background-color: #333333;
    position: relative;

    .home {
      width: 2rem;
      height: 2rem;
      fill: #fff;
      margin-right: 2.5rem;
    }

    li {
      text-transform: uppercase;
      color: #fff;
      width: 100%;
      padding: 3rem 2rem 1rem 2.5rem;
      display: flex;
    }

    footer {
      margin: 20px 0;
      color: #fff;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 1.5rem;
      font-size: 1.3rem;
      opacity: 0.5;
    }
  }

  .navigation-mobile {
    display: none;
  }
}